/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1440px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	width: 80%;
	display: flex;
	justify-content: space-between;
	margin: 50px auto;
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
.main-index{
	width: 80%;
	margin: auto;
}
#introduction {
	position: relative;
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}




#introduction article {
	flex: 1;
}
.modif-article{
	position: absolute;
	top: 3em;
	
}
.modif-article i{
	margin-right: 5px;
	font-size: 18px;
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 2em;
}

.filtres{
	display: flex;
	justify-content: space-between;
	width: 50%;
	margin: auto;
	margin-bottom: 2em;
}
.filtre{
	padding: 5px 15px;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #1D6154;
	border:1px solid #1D6154;
	border-radius: 25px;
}
.filtre.active {
	background-color: #1D6154;
	color: white;
  }
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* **************************page de connextion******************************** */
.main-login{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.titre-login{
	margin-top: 100px;
	margin-bottom: 35px;
}
#form-connexion{
	width: 40%;
	display: flex;
	flex-direction: column;
}
.form-contenu{
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
	padding: 0 30px;
}
.form-contenu label{
	margin-bottom: 8px;
}
.form-contenu input{
	height: 50px;
	border: none;
	background: #FFFFFF;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
form #bouton-login{
	height: 36px;
	background: #1D6154;
	border-radius: 60px;
	color: white;
	width: 45%;
	border: none;
	margin: 0 auto;
	text-align: center;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 14px;
}
.code-oublie{
	margin: 28px auto;
	font-family: 'Work Sans';
	font-weight: 500;
	font-size: 14px;
	text-decoration: underline ;
	text-decoration-color: #3D3D3D;
	;
}


/* *********************Page index-edit*************************** */

	/* *********partie header********** */

.banniere-edit{
	height: 60px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
}

.modif-edition{
	width: 25%;
	font-size: 16px;
	color: white;
	
}
.modif-edition i{
	margin-right: 5px;
	font-size: 19px;
	color: white;
}
.btn-modif{
	width: 25%;
	font-family: 'Work Sans';
	height: 40px;
	padding: 0 15px;
	font-size: 14px;
	text-align: center;
	background-color: white;
	border-radius: 25px;

}
nav ul li a {
	text-decoration: none;
	color: #000;
}

	/* *********section introdution******** */
.modif-fig{
	margin-top: 13px;
	margin-left: 55px;
}
.modif-fig i{
	margin-right:8px;
	font-size: 18px;
}
.modif-article {
	position: absolute;
	top: 20px;
}
.modif-article i{
	margin-right: 8px;
}
.acces-modale{
	text-decoration: none;
	margin-bottom: 30px;
}
.modif-projet{
	font-family: 'Work Sans';
	font-weight: 400;
	font-size: 14px;
	margin-left: 3em;
	color: #000;
}
.modif-projet i{
	margin-right: 8px;
	font-size: 18px;
	
}

	/* **************la modale*************** */
.modal{
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	
}
.modal-wrapper{
	width: 42%;
	height: 60%;
	margin: auto;
	padding: 20px 50px;
	border-radius: 10px;
	overflow: auto;
	background-color: white;

}
.btn-close{
	margin-right: -40px;
	border: none;
	background: transparent;
	float: right;
	cursor: pointer;
}
.titre-modale{
	font-family: 'Work Sans';
	font-weight: 400;
	font-size: 26px;
	color: #000;
	margin-top: 20px;
	margin-bottom: 20px;
}
.projet-modif{
	margin: auto;
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.projet-modif figure{
	width: 18%;
	margin-bottom: 12px;
	position: relative;
	font-size: 12px;
}
.projet-modif img{
	width: 100%;
}
.projet-modif div{
	width: 13px;
	height: 13px;
	padding-top: 2px;
	position: absolute;
	top: 2px;
	right: 3px;
	background-color: #000;
	text-align: center;
	color: white;
	font-size: 10px;
}
.ligne-separation{
	padding-bottom: 35px;
	border-bottom: 1px solid #B3B3B3;
}

.ajout-supp{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.ajout-supp button{
	height: 35px;
	width: 40%;
	margin-top: 25px;
	border: none;
}
.btn-ajout:first-child{
	background-color: #1D6154;
	color: white;
	border-radius: 25px;
}
.btn-supp:last-child{
	background: transparent;
	color: #D65353;
}

/* ************  modale pour ajouter les projets  *********** */

.wrapper2{
	display: none;
}
.btn-retour{
	margin-left: -40px;
	border: none;
	background-color: transparent;
}
.ajout-projet{
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 80%;

}

.bloc-tele-img{
	width: 100%;
	height: 175px;
	margin-bottom: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #E8F1F6;
}
input[type="file"] + label {
  border: 1px solid rgba(0,0,0,.2);
  padding: 5px;
  background: lavender;
}

.label-image{
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
	

}
.label-image i{
	font-size: 3em;
	color: #616060;
	margin-bottom: 15px;
}
.label-image span{
	width: 85%;
	height: 28px;
	padding-top: 10px;
	background-color: #CBD6DC;
	border-radius: 25px;
	text-align: center;
	color: #306685;
	font-family: 'Work Sans';
	font-size: 14px;
}

input[type="file"] {
	height: 0;
	width: 0;
	overflow: hidden;
  }
.bloc-tele-img img{
	width: 50%;
	height: 100%;
}

.titre-categorie{
	margin-top: 5px;
	

}

.img-info{
	width: 100%;
	height: 30px;
	margin-top: 10px;
	margin-bottom: 25px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.btn-ajout-projet{
	width: 40%;
	height: 36px;
	margin: 30px auto 0;
	background-color: #A7A7A7;
	font-family: 'Syne';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	color: white;
	border: none;
	border-radius: 25px;
}

.message-erreur{
	font-family: 'Work Sans';
	font-size: 16px;
	display: inline-block;
	margin: 10px auto;
	color: red;

}
.notification {
	width: 30%;
	height: 180px;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	background-color: rgb(231, 234, 231);
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border-radius: 15px;
	font-family: 'Work Sans';
	color: rgb(0, 0, 0);
	font-size: 20px;
	position: absolute;
	top: 50% ;
	left: 50%;
	transform: translate(-50%, -50%)
  }

.btn-notif{
	height: 28px;
	width: 20%;
	margin-top: 30px;
	border: none;
	border-radius: 10px;
    background: #1d6154;
    color: white;
  }